*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: serif;
}

.main{
  background-color: rgb(30, 30, 124);
  height: 80px;
  width: 100%;
}
label.logo{
  color: rgb(151, 163, 173);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px; 

}

nav ul li a{
  color: rgb(207, 207, 207);
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  
}
.courses{
  display: flex;
  justify-content: space-between 5px;
}

.footer{
  margin-top: 500px;
  background-color: rgb(226, 231, 230);
  padding: 20px;
}
.core,.advance{
width: 45%;
color: rgb(42, 44, 44);
}
.hero{
  
  margin-top: 200px;
  padding: 40px;
 background-color: rgb(230, 226, 222); 
background-repeat: no-repeat;
justify-content: center;
align-items: center;
text-align: center;
  

}

.first{
  font-size: 70px;
  color: rgb(26, 26, 104);
}

.namee{
  font-size: 40px;
}

.text{
  color: rgb(44, 172, 223);
  font-size: 30px;
  
}
.about{

  background-repeat: no-repeat;
  padding: 200px;
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  
}
.contact{
  text-align: center;
  color: rgb(47, 47, 141);
  margin-top: 100px;
}